@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Lora);
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFFFF0;
}
.container {
  position: relative;
  min-height: 95vh;
}
#lesson_form {
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
}
img {
  float: right;
  padding-bottom: 2px;
  padding-left: 80px;
}
.lesson_result {
  float: left;
  min-height: 202px;
  padding-bottom: 60px;
}
.school_img {
  float: right;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Shadows Into Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
}

.content {
  padding-bottom: 50px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  text-align: center;
  position: absolute;
  width: 100%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron h1 {
  font-family: "Gloria Hallelujah","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
  margin-top: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.dayboxes {
  margin-right: auto;
  margin-left: auto;
}
td {
  text-align: left;
}
#day {
  width: 90px;
  padding-left: 10px;
}
#time {
  width: 50px;
}
label {
  font-size: 20px;
  margin-top: 10px;
}
#address_box {
  padding-left: 10px;
  padding-right: 10px;
}
input {
  text-align: center;
}
