Available Classes:
<p>
  <% @lessons.each do |lesson| %>
    <%= lesson.school.name %>
    <li><%= lesson.name %></li>
    <ul>
      <li><%= lesson.day %></li>
      <li><%= lesson.time %></li>
    </ul>
  <% end %>
</p>